In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [45]:
#loading df in the enviorment
df = pd.read_csv("/Users/nazil/Downloads/Assignment1_StreamFlow_Subscription_Data.csv")

In [46]:
#details of the original df
df.describe()
df.head()

,User_ID,Age,Gender,Location,Subscription_Start_Date,Subscription_Type,Monthly_Payment,Payment_Method,Monthly_Hours_Watched,Favorite_Genre,Devices_Used,Average_Session_Length,Content_ID,Rating_Given,Churned,Date_of_Churn,Reason_for_Churn
0,1,56,Other,Central,2020-06-07 01:53:37.656934,Premium,19.99,Credit Card,31.513153,Action,PC,1.195762,1023,5,0,NaN,NaN
1,2,69,Other,West,2024-02-21 01:53:37.656980,Standard,14.99,Credit Card,4.982277,Drama,PC,0.809002,1076,1,0,NaN,NaN
2,3,46,Female,North,2022-10-06 01:53:37.656995,Standard,14.99,PayPal,4.114953,Sci-Fi,Tablet,1.153570,1095,2,0,NaN,NaN
3,4,32,Female,East,2022-01-04 01:53:37.657006,Standard,14.99,Credit Card,60.244820,Action,TV,0.609503,1003,1,0,NaN,NaN
4,5,60,Female,North,2020-03-13 01:53:37.657017,Standard,14.99,Credit Card,4.711855,Sci-Fi,Mobile,0.359971,1012,4,0,NaN,NaN

In [47]:
import datetime as dt

In [48]:
#changing datatypes for Gender
df['Gender']=df["Gender"].astype('category')

In [49]:
#changing datatypes for Location
df['Location']=df['Location'].astype('category')

In [50]:
#changing datatype to datetime
df['Subscription_Start_Date'] = pd.to_datetime(df['Subscription_Start_Date'])

In [51]:
#changing datatype to datetime
df['Date_of_Churn'] = pd.to_datetime(df['Date_of_Churn'])

In [52]:
#updated df info to check the changed datatypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   User_ID                  1000 non-null   int64
 1   Age                      1000 non-null   int64
 2   Gender                   1000 non-null   category
 3   Location                 1000 non-null   category
 4   Subscription_Start_Date  1000 non-null   datetime64[ns]
 5   Subscription_Type        1000 non-null   object
 6   Monthly_Payment          1000 non-null   float64
 7   Payment_Method           1000 non-null   object
 8   Monthly_Hours_Watched    1000 non-null   float64
 9   Favorite_Genre           1000 non-null   object
 10  Devices_Used             1000 non-null   object
 11  Average_Session_Length   1000 non-null   float64
 12  Content_ID               1000 non-null   int64
 13  Rating_Given             1000 non-null   int64
 14  Churned                  1000 non-null   int64
 15  Date_of_Churn            246 non-null    datetime64[ns]
 16  Reason_for_Churn         246 non-null    object
dtypes: category(2), datetime64[ns](2), float64(3), int64(5), object(5)
memory usage: 119.6+ KB

In [53]:
#defining bins for the age group and adding it into the dataframe
bins= [19, 31, 41, 51, 61, 71]
df['age_group'] = pd.cut(df['Age'], bins=bins, right=False)

In [54]:
#calculating duration of the subscribers
df["Duration"] = df['Date_of_Churn'] - df['Subscription_Start_Date']

In [55]:
df.head()

,User_ID,Age,Gender,Location,Subscription_Start_Date,Subscription_Type,Monthly_Payment,Payment_Method,Monthly_Hours_Watched,Favorite_Genre,Devices_Used,Average_Session_Length,Content_ID,Rating_Given,Churned,Date_of_Churn,Reason_for_Churn,age_group,Duration
0,1,56,Other,Central,2020-06-07 01:53:37.656934,Premium,19.99,Credit Card,31.513153,Action,PC,1.195762,1023,5,0,NaT,NaN,"[51, 61)",NaT
1,2,69,Other,West,2024-02-21 01:53:37.656980,Standard,14.99,Credit Card,4.982277,Drama,PC,0.809002,1076,1,0,NaT,NaN,"[61, 71)",NaT
2,3,46,Female,North,2022-10-06 01:53:37.656995,Standard,14.99,PayPal,4.114953,Sci-Fi,Tablet,1.153570,1095,2,0,NaT,NaN,"[41, 51)",NaT
3,4,32,Female,East,2022-01-04 01:53:37.657006,Standard,14.99,Credit Card,60.244820,Action,TV,0.609503,1003,1,0,NaT,NaN,"[31, 41)",NaT
4,5,60,Female,North,2020-03-13 01:53:37.657017,Standard,14.99,Credit Card,4.711855,Sci-Fi,Mobile,0.359971,1012,4,0,NaT,NaN,"[51, 61)",NaT

In [56]:
#slicing the dataframe based on churned and non-churned
non_churned_df = df.loc[df['Churned'] == 0]

In [57]:
non_churned_df.describe()

,User_ID,Age,Subscription_Start_Date,Monthly_Payment,Monthly_Hours_Watched,Average_Session_Length,Content_ID,Rating_Given,Churned,Date_of_Churn,Duration
count,754.000000,754.000000,754,754.000000,754.000000,754.000000,754.000000,754.000000,754.0,0,0
mean,498.913793,44.779841,2021-09-29 07:03:01.057674496,14.605385,19.734607,1.885177,1048.795756,3.172414,0.0,NaT,NaT
min,1.000000,18.000000,2019-05-10 01:53:37.659073,9.990000,0.076891,0.000486,1000.000000,1.000000,0.0,NaT,NaT
25%,245.250000,32.000000,2020-05-30 01:53:37.659966464,9.990000,5.657050,0.516868,1023.000000,2.000000,0.0,NaT,NaT
50%,500.000000,45.500000,2021-09-25 13:53:37.661242112,14.990000,13.791423,1.271808,1047.500000,3.000000,0.0,NaT,NaT
75%,748.500000,57.000000,2023-01-16 13:53:37.662548480,14.990000,27.368681,2.612418,1074.000000,4.000000,0.0,NaT,NaT
max,1000.000000,70.000000,2024-05-06 01:53:37.662112,19.990000,139.170408,11.049324,1099.000000,5.000000,0.0,NaT,NaT
std,290.327761,15.250257,NaN,3.377227,19.866013,1.878760,28.851328,1.440076,0.0,NaN,NaT

In [58]:
#slicing the dataframe based on churned and non-churned
churned_df = df.loc[df['Churned'] == 1]

In [59]:
churned_df.head()

,User_ID,Age,Gender,Location,Subscription_Start_Date,Subscription_Type,Monthly_Payment,Payment_Method,Monthly_Hours_Watched,Favorite_Genre,Devices_Used,Average_Session_Length,Content_ID,Rating_Given,Churned,Date_of_Churn,Reason_for_Churn,age_group,Duration
12,13,41,Other,North,2021-04-22 01:53:37.657108,Standard,14.99,Direct Debit,14.011035,Sci-Fi,Mobile,0.152133,1059,5,1,2021-06-13 01:53:37.657108,Found better service,"[41, 51)",52 days
13,14,70,Other,South,2020-10-29 01:53:37.657119,Standard,14.99,Direct Debit,35.339461,Sci-Fi,Mobile,3.346005,1011,2,1,2021-03-11 01:53:37.657119,Found better service,"[61, 71)",133 days
14,15,53,Other,East,2023-10-06 01:53:37.657130,Standard,14.99,Credit Card,14.191293,Documentary,Mobile,2.791956,1020,1,1,2024-07-02 01:53:37.657130,Price increase,"[51, 61)",270 days
16,17,41,Other,South,2019-07-27 01:53:37.657151,Premium,19.99,Credit Card,12.991876,Drama,Mobile,2.519855,1043,1,1,2020-03-16 01:53:37.657151,Found better service,"[41, 51)",233 days
29,30,39,Male,North,2019-11-05 01:53:37.657296,Standard,14.99,Credit Card,22.258651,Comedy,Mobile,0.838116,1034,2,1,2020-08-13 01:53:37.657296,Price increase,"[31, 41)",282 days

In [60]:
churned_df.describe()

,User_ID,Age,Subscription_Start_Date,Monthly_Payment,Monthly_Hours_Watched,Average_Session_Length,Content_ID,Rating_Given,Churned,Date_of_Churn,Duration
count,246.000000,246.000000,246,246.000000,246.000000,246.000000,246.000000,246.000000,246.0,246,246
mean,505.361789,43.174797,2021-08-17 06:52:09.857642752,14.502195,17.039672,1.920114,1050.443089,2.593496,1.0,2022-02-28 15:27:17.174715904,195 days 08:35:07.317073170
min,13.000000,18.000000,2019-05-13 01:53:37.658474,9.990000,0.041574,0.000821,1000.000000,1.000000,1.0,2019-08-11 01:53:37.658920,30 days 00:00:00
25%,273.250000,30.000000,2020-04-22 07:53:37.663491072,9.990000,5.105890,0.641881,1022.250000,2.000000,1.0,2020-11-15 07:53:37.659917824,115 days 00:00:00
50%,501.500000,41.000000,2021-05-01 01:53:37.660559104,14.990000,11.948593,1.277379,1050.000000,2.000000,1.0,2021-11-20 01:53:37.661230336,201 days 00:00:00
75%,752.250000,56.000000,2022-11-26 19:53:37.664207360,14.990000,23.618435,2.704228,1077.750000,3.000000,1.0,2023-06-05 01:53:37.660055808,276 days 18:00:00
max,999.000000,70.000000,2024-04-30 01:53:37.659297,19.990000,108.122364,11.417557,1099.000000,5.000000,1.0,2025-02-09 01:53:37.661719,364 days 00:00:00
std,284.676765,15.507139,NaN,3.494289,17.236483,1.841691,30.536877,1.273513,0.0,NaN,95 days 11:36:35.306355338

In [61]:
#share of churned people location wise
location_count = churned_df.groupby('Location').size()

C:\Users\nazil\AppData\Local\Temp\ipykernel_24324\3515204646.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  location_count = churned_df.groupby('Location').size()

In [62]:
print(location_count/location_count.sum()*100)

Location
Central    19.105691
East       24.390244
North      21.544715
South      17.073171
West       17.886179
dtype: float64

In [63]:
#share of churned people age_group wise
age_group_count = churned_df.groupby('age_group').size()

C:\Users\nazil\AppData\Local\Temp\ipykernel_24324\888712679.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  age_group_count = churned_df.groupby('age_group').size()

In [64]:
print(age_group_count/age_group_count.sum()*100)

age_group
[19, 31)    23.849372
[31, 41)    21.757322
[41, 51)    17.991632
[51, 61)    15.481172
[61, 71)    20.920502
dtype: float64

In [65]:
#percentage of each genre as favorite genre among churned
favorite_genre_count = churned_df.groupby('Favorite_Genre').size()
print(favorite_genre_count/favorite_genre_count.sum()*100)

Favorite_Genre
Action         19.918699
Comedy         19.918699
Documentary    21.138211
Drama          19.105691
Sci-Fi         19.918699
dtype: float64

In [66]:
#reasons for churned of each genre as favorite genre among churned
reason_churned_count = churned_df.groupby('Reason_for_Churn').size()
print(reason_churned_count/reason_churned_count.sum()*100)

Reason_for_Churn
Dissatisfied with content    21.138211
Found better service         26.016260
Personal reasons             25.203252
Price increase               27.642276
dtype: float64

In [67]:
#slicing the dataframe based on Reason, dissatisfaction with content
content_churned_df = churned_df.loc[df['Reason_for_Churn'] == 'Dissatisfied with content']
content_churned_df.head()

,User_ID,Age,Gender,Location,Subscription_Start_Date,Subscription_Type,Monthly_Payment,Payment_Method,Monthly_Hours_Watched,Favorite_Genre,Devices_Used,Average_Session_Length,Content_ID,Rating_Given,Churned,Date_of_Churn,Reason_for_Churn,age_group,Duration
34,35,59,Other,Central,2020-09-30 01:53:37.657349,Standard,14.99,Credit Card,16.056400,Drama,Mobile,1.458087,1052,4,1,2021-03-20 01:53:37.657349,Dissatisfied with content,"[51, 61)",171 days
49,50,35,Female,South,2021-12-24 01:53:37.657507,Basic,9.99,Credit Card,14.566929,Documentary,Mobile,3.638361,1009,3,1,2022-11-25 01:53:37.657507,Dissatisfied with content,"[31, 41)",336 days
70,71,57,Female,East,2021-06-07 01:53:37.657782,Standard,14.99,Credit Card,16.898457,Action,Mobile,0.067996,1010,4,1,2021-09-07 01:53:37.657782,Dissatisfied with content,"[51, 61)",92 days
76,77,46,Female,South,2019-09-28 01:53:37.657846,Basic,9.99,Direct Debit,1.688376,Sci-Fi,Mobile,0.505287,1027,2,1,2020-05-20 01:53:37.657846,Dissatisfied with content,"[41, 51)",235 days
99,100,42,Female,Central,2020-04-21 01:53:37.658089,Basic,9.99,Credit Card,4.222743,Comedy,TV,0.163936,1075,3,1,2021-03-29 01:53:37.658089,Dissatisfied with content,"[41, 51)",342 days

In [68]:
content_churned_df.describe()

,User_ID,Age,Subscription_Start_Date,Monthly_Payment,Monthly_Hours_Watched,Average_Session_Length,Content_ID,Rating_Given,Churned,Date_of_Churn,Duration
count,52.000000,52.000000,52,52.000000,52.000000,52.000000,52.000000,52.000000,52.0,52,52
mean,491.192308,43.615385,2021-08-05 20:49:00.739290624,13.740000,13.831534,1.853950,1052.115385,2.788462,1.0,2022-02-09 21:44:23.816213760,188 days 00:55:23.076923076
min,35.000000,18.000000,2019-05-13 01:53:37.658474,9.990000,0.587429,0.000821,1004.000000,1.000000,1.0,2019-10-29 01:53:37.658474,30 days 00:00:00
25%,288.750000,33.000000,2020-01-05 01:53:37.660732416,9.990000,4.122623,0.679303,1027.000000,2.000000,1.0,2020-08-11 07:53:37.661958400,90 days 00:00:00
50%,477.500000,44.000000,2021-05-17 01:53:37.660803072,14.990000,10.659414,1.438413,1055.500000,3.000000,1.0,2021-11-15 01:53:37.662738944,196 days 00:00:00
75%,751.250000,55.250000,2023-03-02 19:53:37.662735616,14.990000,22.198123,2.520147,1075.250000,4.000000,1.0,2023-04-22 07:53:37.662946816,281 days 00:00:00
max,948.000000,68.000000,2024-04-30 01:53:37.659297,19.990000,47.908356,9.679808,1096.000000,5.000000,1.0,2025-02-09 01:53:37.661719,364 days 00:00:00
std,279.098552,14.411534,NaN,3.552823,11.949756,1.697423,28.945963,1.273201,0.0,NaN,104 days 08:24:39.577301272

In [69]:
#share of every genre as favorite genre among dissastified with content churn
content_dissastified_churned_count = content_churned_df.groupby('Favorite_Genre').size()
print(content_dissastified_churned_count/content_dissastified_churned_count.sum()*100)

Favorite_Genre
Action         23.076923
Comedy         21.153846
Documentary     9.615385
Drama          21.153846
Sci-Fi         25.000000
dtype: float64

In [70]:
#age group wise genre preference
genre_age_wise = content_churned_df.groupby(['age_group', 'Favorite_Genre']).size()

C:\Users\nazil\AppData\Local\Temp\ipykernel_24324\1120680612.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  genre_age_wise = content_churned_df.groupby(['age_group', 'Favorite_Genre']).size()

In [71]:
print(genre_age_wise/genre_age_wise.sum()*100)

age_group  Favorite_Genre
[19, 31)   Action             8.163265
           Comedy             2.040816
           Documentary        0.000000
           Drama              6.122449
           Sci-Fi             2.040816
[31, 41)   Action             2.040816
           Comedy             4.081633
           Documentary        4.081633
           Drama              2.040816
           Sci-Fi             4.081633
[41, 51)   Action             4.081633
           Comedy            10.204082
           Documentary        4.081633
           Drama              2.040816
           Sci-Fi             8.163265
[51, 61)   Action             6.122449
           Comedy             2.040816
           Documentary        2.040816
           Drama              8.163265
           Sci-Fi             4.081633
[61, 71)   Action             4.081633
           Comedy             2.040816
           Documentary        0.000000
           Drama              2.040816
           Sci-Fi             6.122449
dtype: float64

In [72]:
#slicing the dataframe based on Reason anything else other than dissatisfaction with content
non_content_churned_df = churned_df.loc[df['Reason_for_Churn'] != 'Dissatisfied with content']
non_content_churned_df.head()

,User_ID,Age,Gender,Location,Subscription_Start_Date,Subscription_Type,Monthly_Payment,Payment_Method,Monthly_Hours_Watched,Favorite_Genre,Devices_Used,Average_Session_Length,Content_ID,Rating_Given,Churned,Date_of_Churn,Reason_for_Churn,age_group,Duration
12,13,41,Other,North,2021-04-22 01:53:37.657108,Standard,14.99,Direct Debit,14.011035,Sci-Fi,Mobile,0.152133,1059,5,1,2021-06-13 01:53:37.657108,Found better service,"[41, 51)",52 days
13,14,70,Other,South,2020-10-29 01:53:37.657119,Standard,14.99,Direct Debit,35.339461,Sci-Fi,Mobile,3.346005,1011,2,1,2021-03-11 01:53:37.657119,Found better service,"[61, 71)",133 days
14,15,53,Other,East,2023-10-06 01:53:37.657130,Standard,14.99,Credit Card,14.191293,Documentary,Mobile,2.791956,1020,1,1,2024-07-02 01:53:37.657130,Price increase,"[51, 61)",270 days
16,17,41,Other,South,2019-07-27 01:53:37.657151,Premium,19.99,Credit Card,12.991876,Drama,Mobile,2.519855,1043,1,1,2020-03-16 01:53:37.657151,Found better service,"[41, 51)",233 days
29,30,39,Male,North,2019-11-05 01:53:37.657296,Standard,14.99,Credit Card,22.258651,Comedy,Mobile,0.838116,1034,2,1,2020-08-13 01:53:37.657296,Price increase,"[31, 41)",282 days

In [73]:
#genre preference among those who churned for other reasons
non_content_dissastified_churned_count = non_content_churned_df.groupby('Favorite_Genre').size()
print(non_content_dissastified_churned_count/non_content_dissastified_churned_count.sum()*100)

Favorite_Genre
Action         19.072165
Comedy         19.587629
Documentary    24.226804
Drama          18.556701
Sci-Fi         18.556701
dtype: float64

In [74]:
#percentage of rating among churned
rating_given_count = churned_df.groupby('Rating_Given').size()

In [75]:
print(rating_given_count/rating_given_count.sum()*100)

Rating_Given
1    23.577236
2    28.455285
3    23.170732
4    14.634146
5    10.162602
dtype: float64

In [76]:
#calculating mean rating score for total sample
average_rating = df['Rating_Given'].mean()
print("Rating_Given:", average_rating)

Rating_Given: 3.03

In [77]:
#calculating mean rating score for churned people
average_rating_churned = churned_df['Rating_Given'].mean()
print("Rating_Given:", average_rating_churned)

Rating_Given: 2.5934959349593494

In [78]:
#calculating mean rating score for non-churned people
average_rating_non_churned = non_churned_df['Rating_Given'].mean()
print("Rating_Given:", average_rating_non_churned)

Rating_Given: 3.1724137931034484

In [79]:
from scipy.stats.mstats import winsorize

In [80]:
#mean duration of the churned to see if there is any pattern
#applying winsorization to the 'Duration' column and create 'duration_winsorized' column to exclude extreme values
churned_df['duration_winsorized'] = winsorize(churned_df['Duration'], limits=[0.05, 0.05])

#calculating the mean of 'duration_winsorized' column
mean_winsorized = churned_df['duration_winsorized'].mean()

C:\Users\nazil\AppData\Local\Temp\ipykernel_24324\2671413551.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  churned_df['duration_winsorized'] = winsorize(churned_df['Duration'], limits=[0.05, 0.05])

In [81]:
print("Mean of duration_winsorized column:", mean_winsorized)

Mean of duration_winsorized column: 195 days 00:46:49.756097560

In [82]:
#total share of churn and non-churn
churned_count = df.groupby('Churned').size()
print(churned_count/churned_count.sum()*100)

Churned
0    75.4
1    24.6
dtype: float64

In [83]:
total_sample = churned_count.sum()
print(total_sample)

1000

In [84]:
#percentage of reasons among total sample
churned_for_content_count = df.groupby('Reason_for_Churn').size()
print((churned_for_content_count/total_sample)*100)

Reason_for_Churn
Dissatisfied with content    5.2
Found better service         6.4
Personal reasons             6.2
Price increase               6.8
dtype: float64