In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
stream_flow = pd.read_csv("/Users/nazil/Downloads/Assignment1_StreamFlow_Subscription_Data.csv")

In [7]:
stream_flow.head()

,User_ID,Age,Gender,Location,Subscription_Start_Date,Subscription_Type,Monthly_Payment,Payment_Method,Monthly_Hours_Watched,Favorite_Genre,Devices_Used,Average_Session_Length,Content_ID,Rating_Given,Churned,Date_of_Churn,Reason_for_Churn
0,1,56,Other,Central,2020-06-07 01:53:37.656934,Premium,19.99,Credit Card,31.513153,Action,PC,1.195762,1023,5,0,NaN,NaN
1,2,69,Other,West,2024-02-21 01:53:37.656980,Standard,14.99,Credit Card,4.982277,Drama,PC,0.809002,1076,1,0,NaN,NaN
2,3,46,Female,North,2022-10-06 01:53:37.656995,Standard,14.99,PayPal,4.114953,Sci-Fi,Tablet,1.153570,1095,2,0,NaN,NaN
3,4,32,Female,East,2022-01-04 01:53:37.657006,Standard,14.99,Credit Card,60.244820,Action,TV,0.609503,1003,1,0,NaN,NaN
4,5,60,Female,North,2020-03-13 01:53:37.657017,Standard,14.99,Credit Card,4.711855,Sci-Fi,Mobile,0.359971,1012,4,0,NaN,NaN

In [8]:
stream_flow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   User_ID                  1000 non-null   int64
 1   Age                      1000 non-null   int64
 2   Gender                   1000 non-null   object
 3   Location                 1000 non-null   object
 4   Subscription_Start_Date  1000 non-null   object
 5   Subscription_Type        1000 non-null   object
 6   Monthly_Payment          1000 non-null   float64
 7   Payment_Method           1000 non-null   object
 8   Monthly_Hours_Watched    1000 non-null   float64
 9   Favorite_Genre           1000 non-null   object
 10  Devices_Used             1000 non-null   object
 11  Average_Session_Length   1000 non-null   float64
 12  Content_ID               1000 non-null   int64
 13  Rating_Given             1000 non-null   int64
 14  Churned                  1000 non-null   int64
 15  Date_of_Churn            246 non-null    object
 16  Reason_for_Churn         246 non-null    object
dtypes: float64(3), int64(5), object(9)
memory usage: 132.9+ KB

In [9]:
import datetime as dt

In [10]:
stream_flow.describe()

,User_ID,Age,Monthly_Payment,Monthly_Hours_Watched,Average_Session_Length,Content_ID,Rating_Given,Churned
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,500.500000,44.385000,14.580000,19.071653,1.893771,1049.201000,3.030000,0.246000
std,288.819436,15.321669,3.404922,19.279140,1.868852,29.268058,1.422365,0.430894
min,1.000000,18.000000,9.990000,0.041574,0.000486,1000.000000,1.000000,0.000000
25%,250.750000,31.750000,9.990000,5.490739,0.548918,1023.000000,2.000000,0.000000
50%,500.500000,45.000000,14.990000,13.361219,1.271808,1048.000000,3.000000,0.000000
75%,750.250000,57.000000,14.990000,26.471636,2.623575,1075.000000,4.000000,0.000000
max,1000.000000,70.000000,19.990000,139.170408,11.417557,1099.000000,5.000000,1.000000

In [17]:
stream_flow["Gender"] = stream_flow["Gender"].astype("category")

In [33]:
stream_flow['Reason_for_Churn'] = stream_flow['Reason_for_Churn'].astype('str')

In [23]:
stream_flow['Subscription_Start_Date'] = pd.to_datetime(stream_flow['Subscription_Start_Date'])

In [26]:
stream_flow['Date_of_Churn'] = pd.to_datetime(stream_flow["Date_of_Churn"])

In [138]:
stream_flow['Location'] = stream_flow["Location"].astype('category')

In [139]:
stream_flow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   User_ID                  1000 non-null   int64
 1   Age                      1000 non-null   int64
 2   Gender                   1000 non-null   category
 3   Location                 1000 non-null   category
 4   Subscription_Start_Date  1000 non-null   datetime64[ns]
 5   Subscription_Type        1000 non-null   object
 6   Monthly_Payment          1000 non-null   float64
 7   Payment_Method           1000 non-null   object
 8   Monthly_Hours_Watched    1000 non-null   float64
 9   Favorite_Genre           1000 non-null   object
 10  Devices_Used             1000 non-null   object
 11  Average_Session_Length   1000 non-null   float64
 12  Content_ID               1000 non-null   int64
 13  Rating_Given             1000 non-null   int64
 14  Churned                  1000 non-null   int64
 15  Date_of_Churn            246 non-null    datetime64[ns]
 16  Reason_for_Churn         1000 non-null   object
dtypes: category(2), datetime64[ns](2), float64(3), int64(5), object(5)
memory usage: 119.6+ KB

In [140]:
churned_df = stream_flow.loc[stream_flow['Churned'] == 1]

In [141]:
churned_df.describe()

,User_ID,Age,Subscription_Start_Date,Monthly_Payment,Monthly_Hours_Watched,Average_Session_Length,Content_ID,Rating_Given,Churned,Date_of_Churn
count,246.000000,246.000000,246,246.000000,246.000000,246.000000,246.000000,246.000000,246.0,246
mean,505.361789,43.174797,2021-08-17 06:52:09.857642752,14.502195,17.039672,1.920114,1050.443089,2.593496,1.0,2022-02-28 15:27:17.174715904
min,13.000000,18.000000,2019-05-13 01:53:37.658474,9.990000,0.041574,0.000821,1000.000000,1.000000,1.0,2019-08-11 01:53:37.658920
25%,273.250000,30.000000,2020-04-22 07:53:37.663491072,9.990000,5.105890,0.641881,1022.250000,2.000000,1.0,2020-11-15 07:53:37.659917824
50%,501.500000,41.000000,2021-05-01 01:53:37.660559104,14.990000,11.948593,1.277379,1050.000000,2.000000,1.0,2021-11-20 01:53:37.661230336
75%,752.250000,56.000000,2022-11-26 19:53:37.664207360,14.990000,23.618435,2.704228,1077.750000,3.000000,1.0,2023-06-05 01:53:37.660055808
max,999.000000,70.000000,2024-04-30 01:53:37.659297,19.990000,108.122364,11.417557,1099.000000,5.000000,1.0,2025-02-09 01:53:37.661719
std,284.676765,15.507139,NaN,3.494289,17.236483,1.841691,30.536877,1.273513,0.0,NaN

In [142]:
churned_df.head()

,User_ID,Age,Gender,Location,Subscription_Start_Date,Subscription_Type,Monthly_Payment,Payment_Method,Monthly_Hours_Watched,Favorite_Genre,Devices_Used,Average_Session_Length,Content_ID,Rating_Given,Churned,Date_of_Churn,Reason_for_Churn
12,13,41,Other,North,2021-04-22 01:53:37.657108,Standard,14.99,Direct Debit,14.011035,Sci-Fi,Mobile,0.152133,1059,5,1,2021-06-13 01:53:37.657108,Found better service
13,14,70,Other,South,2020-10-29 01:53:37.657119,Standard,14.99,Direct Debit,35.339461,Sci-Fi,Mobile,3.346005,1011,2,1,2021-03-11 01:53:37.657119,Found better service
14,15,53,Other,East,2023-10-06 01:53:37.657130,Standard,14.99,Credit Card,14.191293,Documentary,Mobile,2.791956,1020,1,1,2024-07-02 01:53:37.657130,Price increase
16,17,41,Other,South,2019-07-27 01:53:37.657151,Premium,19.99,Credit Card,12.991876,Drama,Mobile,2.519855,1043,1,1,2020-03-16 01:53:37.657151,Found better service
29,30,39,Male,North,2019-11-05 01:53:37.657296,Standard,14.99,Credit Card,22.258651,Comedy,Mobile,0.838116,1034,2,1,2020-08-13 01:53:37.657296,Price increase

In [144]:
churned_df.corr()['Churned']

ValueError: could not convert string to float: 'North'

In [103]:
churned_df.loc[:, 'Gender'].tolist()

['Other',
 'Other',
 'Other',
 'Other',
 'Male',
 'Other',
 'Female',
 'Male',
 'Female',
 'Female',
 'Female',
 'Female',
 'Female',
 'Other',
 'Male',
 'Female',
 'Female',
 'Female',
 'Female',
 'Male',
 'Female',
 'Male',
 'Female',
 'Female',
 'Male',
 'Other',
 'Female',
 'Female',
 'Male',
 'Male',
 'Other',
 'Male',
 'Female',
 'Other',
 'Female',
 'Male',
 'Other',
 'Male',
 'Male',
 'Female',
 'Other',
 'Other',
 'Female',
 'Other',
 'Other',
 'Female',
 'Other',
 'Other',
 'Female',
 'Male',
 'Other',
 'Male',
 'Female',
 'Other',
 'Other',
 'Male',
 'Other',
 'Female',
 'Female',
 'Female',
 'Other',
 'Other',
 'Female',
 'Male',
 'Other',
 'Female',
 'Female',
 'Male',
 'Female',
 'Female',
 'Other',
 'Other',
 'Other',
 'Male',
 'Other',
 'Male',
 'Female',
 'Female',
 'Other',
 'Male',
 'Other',
 'Other',
 'Other',
 'Female',
 'Male',
 'Male',
 'Male',
 'Male',
 'Female',
 'Female',
 'Male',
 'Male',
 'Male',
 'Female',
 'Female',
 'Female',
 'Other',
 'Other',
 'Other',
 'Male',
 'Male',
 'Other',
 'Other',
 'Other',
 'Female',
 'Male',
 'Other',
 'Female',
 'Other',
 'Female',
 'Male',
 'Female',
 'Male',
 'Other',
 'Other',
 'Female',
 'Female',
 'Other',
 'Female',
 'Female',
 'Male',
 'Female',
 'Other',
 'Female',
 'Male',
 'Other',
 'Female',
 'Male',
 'Female',
 'Female',
 'Other',
 'Female',
 'Male',
 'Other',
 'Other',
 'Female',
 'Other',
 'Other',
 'Other',
 'Other',
 'Male',
 'Male',
 'Male',
 'Male',
 'Other',
 'Male',
 'Other',
 'Male',
 'Other',
 'Male',
 'Other',
 'Male',
 'Female',
 'Male',
 'Other',
 'Other',
 'Female',
 'Other',
 'Female',
 'Female',
 'Other',
 'Other',
 'Male',
 'Female',
 'Other',
 'Female',
 'Other',
 'Male',
 'Male',
 'Other',
 'Male',
 'Male',
 'Male',
 'Female',
 'Male',
 'Male',
 'Female',
 'Female',
 'Other',
 'Male',
 'Male',
 'Female',
 'Male',
 'Other',
 'Male',
 'Female',
 'Other',
 'Other',
 'Female',
 'Other',
 'Other',
 'Male',
 'Female',
 'Other',
 'Other',
 'Female',
 'Male',
 'Male',
 'Female',
 'Male',
 'Other',
 'Male',
 'Female',
 'Other',
 'Other',
 'Female',
 'Other',
 'Male',
 'Female',
 'Other',
 'Female',
 'Other',
 'Other',
 'Female',
 'Female',
 'Female',
 'Female',
 'Female',
 'Male',
 'Female',
 'Other',
 'Other',
 'Other',
 'Female',
 'Other',
 'Female',
 'Other',
 'Other',
 'Male',
 'Male',
 'Male',
 'Male',
 'Female',
 'Male',
 'Male',
 'Female',
 'Male',
 'Male',
 'Male',
 'Female',
 'Other',
 'Male',
 'Female',
 'Female',
 'Other',
 'Male']

In [104]:
gender_count = churned_df.groupby('Gender').size()

C:\Users\nazil\AppData\Local\Temp\ipykernel_13600\1492986403.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  gender_count = churned_df.groupby('Gender').size()

In [105]:
print(gender_count)

Gender
Female    85
Male      75
Other     86
dtype: int64

In [106]:
churned_df.loc[:, 'Devices_Used'].tolist()

['Mobile',
 'Mobile',
 'Mobile',
 'Mobile',
 'Mobile',
 'Mobile',
 'Mobile',
 'Tablet',
 'TV',
 'Mobile',
 'Tablet',
 'Mobile',
 'TV',
 'Tablet',
 'Mobile',
 'Mobile',
 'Mobile',
 'Mobile',
 'Mobile',
 'Mobile',
 'TV',
 'TV',
 'Mobile',
 'TV',
 'Mobile',
 'Mobile',
 'TV',
 'Mobile',
 'Tablet',
 'Mobile',
 'PC',
 'TV',
 'TV',
 'Mobile',
 'Tablet',
 'Mobile',
 'PC',
 'Mobile',
 'Mobile',
 'Mobile',
 'Mobile',
 'TV',
 'Mobile',
 'Tablet',
 'Tablet',
 'TV',
 'TV',
 'PC',
 'Mobile',
 'TV',
 'Mobile',
 'TV',
 'Tablet',
 'TV',
 'Mobile',
 'Mobile',
 'Mobile',
 'TV',
 'Tablet',
 'Mobile',
 'TV',
 'Mobile',
 'Mobile',
 'Mobile',
 'Mobile',
 'Mobile',
 'Tablet',
 'Tablet',
 'Mobile',
 'Mobile',
 'Mobile',
 'Mobile',
 'TV',
 'TV',
 'PC',
 'Mobile',
 'Mobile',
 'Tablet',
 'TV',
 'PC',
 'TV',
 'Mobile',
 'TV',
 'Mobile',
 'Tablet',
 'Tablet',
 'Mobile',
 'TV',
 'Tablet',
 'Mobile',
 'PC',
 'Mobile',
 'Mobile',
 'Tablet',
 'Tablet',
 'TV',
 'Tablet',
 'PC',
 'Mobile',
 'Tablet',
 'PC',
 'Mobile',
 'Mobile',
 'Tablet',
 'PC',
 'Mobile',
 'Tablet',
 'PC',
 'Tablet',
 'TV',
 'Mobile',
 'TV',
 'TV',
 'Mobile',
 'Mobile',
 'PC',
 'TV',
 'Mobile',
 'Mobile',
 'Mobile',
 'TV',
 'Mobile',
 'Mobile',
 'PC',
 'Mobile',
 'PC',
 'Mobile',
 'TV',
 'Tablet',
 'PC',
 'Mobile',
 'Mobile',
 'Mobile',
 'Tablet',
 'TV',
 'Mobile',
 'Mobile',
 'Tablet',
 'Mobile',
 'Tablet',
 'Mobile',
 'Mobile',
 'Tablet',
 'Mobile',
 'Tablet',
 'Mobile',
 'Mobile',
 'Mobile',
 'Tablet',
 'Mobile',
 'Mobile',
 'TV',
 'Mobile',
 'Tablet',
 'Mobile',
 'TV',
 'Mobile',
 'Mobile',
 'Mobile',
 'PC',
 'Mobile',
 'TV',
 'Mobile',
 'Mobile',
 'Mobile',
 'Mobile',
 'Mobile',
 'TV',
 'Mobile',
 'Mobile',
 'PC',
 'Tablet',
 'Mobile',
 'Tablet',
 'PC',
 'TV',
 'TV',
 'Mobile',
 'Mobile',
 'Mobile',
 'Mobile',
 'Tablet',
 'TV',
 'Tablet',
 'TV',
 'Mobile',
 'TV',
 'Mobile',
 'Mobile',
 'Mobile',
 'Mobile',
 'Tablet',
 'Mobile',
 'Mobile',
 'Mobile',
 'Tablet',
 'PC',
 'Mobile',
 'Mobile',
 'TV',
 'Tablet',
 'Mobile',
 'Mobile',
 'Tablet',
 'PC',
 'Tablet',
 'Mobile',
 'PC',
 'TV',
 'Mobile',
 'Tablet',
 'Mobile',
 'TV',
 'Mobile',
 'Mobile',
 'PC',
 'PC',
 'Mobile',
 'Mobile',
 'Mobile',
 'Mobile',
 'Mobile',
 'PC',
 'TV',
 'Tablet',
 'Tablet',
 'TV',
 'Mobile',
 'Mobile',
 'Tablet',
 'Mobile',
 'Mobile',
 'Tablet',
 'PC',
 'Mobile',
 'Mobile',
 'Mobile',
 'PC',
 'Mobile',
 'Mobile',
 'Mobile',
 'PC',
 'PC',
 'Mobile',
 'Mobile',
 'Mobile']

In [107]:
devices_used_count = churned_df.groupby('Devices_Used').size()

In [108]:
print(devices_used_count)

Devices_Used
Mobile    131
PC         27
TV         44
Tablet     44
dtype: int64

In [109]:
churned_df.loc[:, 'Reason_for_Churn'].tolist()

['Found better service',
 'Found better service',
 'Price increase',
 'Found better service',
 'Price increase',
 'Dissatisfied with content',
 'Found better service',
 'Found better service',
 'Found better service',
 'Dissatisfied with content',
 'Price increase',
 'Price increase',
 'Personal reasons',
 'Price increase',
 'Personal reasons',
 'Dissatisfied with content',
 'Personal reasons',
 'Dissatisfied with content',
 'Price increase',
 'Price increase',
 'Dissatisfied with content',
 'Dissatisfied with content',
 'Personal reasons',
 'Found better service',
 'Personal reasons',
 'Found better service',
 'Personal reasons',
 'Price increase',
 'Dissatisfied with content',
 'Found better service',
 'Price increase',
 'Personal reasons',
 'Price increase',
 'Found better service',
 'Found better service',
 'Found better service',
 'Price increase',
 'Dissatisfied with content',
 'Found better service',
 'Found better service',
 'Personal reasons',
 'Personal reasons',
 'Found better service',
 'Dissatisfied with content',
 'Personal reasons',
 'Dissatisfied with content',
 'Personal reasons',
 'Found better service',
 'Price increase',
 'Price increase',
 'Personal reasons',
 'Price increase',
 'Dissatisfied with content',
 'Personal reasons',
 'Personal reasons',
 'Found better service',
 'Price increase',
 'Personal reasons',
 'Found better service',
 'Dissatisfied with content',
 'Personal reasons',
 'Price increase',
 'Price increase',
 'Found better service',
 'Personal reasons',
 'Dissatisfied with content',
 'Price increase',
 'Found better service',
 'Dissatisfied with content',
 'Dissatisfied with content',
 'Dissatisfied with content',
 'Personal reasons',
 'Personal reasons',
 'Dissatisfied with content',
 'Price increase',
 'Dissatisfied with content',
 'Personal reasons',
 'Dissatisfied with content',
 'Found better service',
 'Price increase',
 'Found better service',
 'Personal reasons',
 'Found better service',
 'Found better service',
 'Price increase',
 'Personal reasons',
 'Personal reasons',
 'Found better service',
 'Dissatisfied with content',
 'Personal reasons',
 'Personal reasons',
 'Dissatisfied with content',
 'Personal reasons',
 'Found better service',
 'Personal reasons',
 'Found better service',
 'Price increase',
 'Price increase',
 'Dissatisfied with content',
 'Dissatisfied with content',
 'Personal reasons',
 'Personal reasons',
 'Dissatisfied with content',
 'Found better service',
 'Dissatisfied with content',
 'Price increase',
 'Price increase',
 'Personal reasons',
 'Price increase',
 'Price increase',
 'Price increase',
 'Price increase',
 'Price increase',
 'Dissatisfied with content',
 'Found better service',
 'Personal reasons',
 'Dissatisfied with content',
 'Dissatisfied with content',
 'Found better service',
 'Found better service',
 'Found better service',
 'Personal reasons',
 'Found better service',
 'Personal reasons',
 'Dissatisfied with content',
 'Personal reasons',
 'Price increase',
 'Personal reasons',
 'Price increase',
 'Found better service',
 'Found better service',
 'Dissatisfied with content',
 'Found better service',
 'Found better service',
 'Dissatisfied with content',
 'Personal reasons',
 'Dissatisfied with content',
 'Found better service',
 'Personal reasons',
 'Personal reasons',
 'Price increase',
 'Dissatisfied with content',
 'Found better service',
 'Price increase',
 'Price increase',
 'Price increase',
 'Personal reasons',
 'Found better service',
 'Found better service',
 'Price increase',
 'Price increase',
 'Found better service',
 'Price increase',
 'Price increase',
 'Dissatisfied with content',
 'Dissatisfied with content',
 'Dissatisfied with content',
 'Personal reasons',
 'Price increase',
 'Price increase',
 'Found better service',
 'Price increase',
 'Found better service',
 'Found better service',
 'Price increase',
 'Price increase',
 'Price increase',
 'Personal reasons',
 'Personal reasons',
 'Personal reasons',
 'Price increase',
 'Price increase',
 'Personal reasons',
 'Personal reasons',
 'Found better service',
 'Dissatisfied with content',
 'Price increase',
 'Found better service',
 'Price increase',
 'Personal reasons',
 'Price increase',
 'Found better service',
 'Dissatisfied with content',
 'Dissatisfied with content',
 'Found better service',
 'Dissatisfied with content',
 'Personal reasons',
 'Price increase',
 'Dissatisfied with content',
 'Dissatisfied with content',
 'Found better service',
 'Price increase',
 'Personal reasons',
 'Found better service',
 'Found better service',
 'Price increase',
 'Found better service',
 'Dissatisfied with content',
 'Personal reasons',
 'Price increase',
 'Personal reasons',
 'Personal reasons',
 'Price increase',
 'Found better service',
 'Price increase',
 'Found better service',
 'Found better service',
 'Price increase',
 'Personal reasons',
 'Found better service',
 'Dissatisfied with content',
 'Dissatisfied with content',
 'Found better service',
 'Personal reasons',
 'Dissatisfied with content',
 'Personal reasons',
 'Price increase',
 'Dissatisfied with content',
 'Price increase',
 'Personal reasons',
 'Price increase',
 'Dissatisfied with content',
 'Dissatisfied with content',
 'Personal reasons',
 'Price increase',
 'Price increase',
 'Dissatisfied with content',
 'Personal reasons',
 'Dissatisfied with content',
 'Price increase',
 'Found better service',
 'Personal reasons',
 'Price increase',
 'Dissatisfied with content',
 'Found better service',
 'Found better service',
 'Personal reasons',
 'Personal reasons',
 'Price increase',
 'Price increase',
 'Price increase',
 'Found better service',
 'Personal reasons',
 'Personal reasons',
 'Found better service',
 'Found better service']

In [110]:
reasons_count = churned_df.groupby('Reason_for_Churn').size()

In [111]:
print(reasons_count)

Reason_for_Churn
Dissatisfied with content    52
Found better service         64
Personal reasons             62
Price increase               68
dtype: int64

In [132]:
age_count = churned_df.groupby('Age').size()

In [133]:
print(age_count)

Age
18    7
19    6
20    4
21    5
22    4
23    4
24    3
25    4
26    6
27    6
28    4
29    8
30    3
31    2
32    2
33    5
34    6
35    5
36    8
37    8
38    6
39    8
40    2
41    8
42    5
43    7
44    5
45    3
46    2
47    3
48    4
49    3
50    3
51    5
52    6
53    7
54    1
55    4
56    4
57    2
58    3
59    5
61    6
62    3
63    3
64    4
65    8
66    5
67    4
68    8
69    6
70    3
dtype: int64

In [136]:
location_count = churned_df.groupby('Location').size()
print(location_count)

Location
Central    47
East       60
North      53
South      42
West       44
dtype: int64

In [112]:
non_churned_df = stream_flow.loc[stream_flow['Churned'] == 0]

In [113]:
non_churned_df.describe()

,User_ID,Age,Subscription_Start_Date,Monthly_Payment,Monthly_Hours_Watched,Average_Session_Length,Content_ID,Rating_Given,Churned,Date_of_Churn
count,754.000000,754.000000,754,754.000000,754.000000,754.000000,754.000000,754.000000,754.0,0
mean,498.913793,44.779841,2021-09-29 07:03:01.057674496,14.605385,19.734607,1.885177,1048.795756,3.172414,0.0,NaT
min,1.000000,18.000000,2019-05-10 01:53:37.659073,9.990000,0.076891,0.000486,1000.000000,1.000000,0.0,NaT
25%,245.250000,32.000000,2020-05-30 01:53:37.659966464,9.990000,5.657050,0.516868,1023.000000,2.000000,0.0,NaT
50%,500.000000,45.500000,2021-09-25 13:53:37.661242112,14.990000,13.791423,1.271808,1047.500000,3.000000,0.0,NaT
75%,748.500000,57.000000,2023-01-16 13:53:37.662548480,14.990000,27.368681,2.612418,1074.000000,4.000000,0.0,NaT
max,1000.000000,70.000000,2024-05-06 01:53:37.662112,19.990000,139.170408,11.049324,1099.000000,5.000000,0.0,NaT
std,290.327761,15.250257,NaN,3.377227,19.866013,1.878760,28.851328,1.440076,0.0,NaN

In [95]:
payment = non_churned_df.groupby('Monthly_Payment').size()

In [96]:
print(payment)

Monthly_Payment
9.99     203
14.99    406
19.99    145
dtype: int64

In [114]:
churned_payment = churned_df.groupby('Monthly_Payment').size()

In [115]:
print(churned_payment)

Monthly_Payment
9.99      73
14.99    124
19.99     49
dtype: int64

In [125]:
non_churned_devices = non_churned_df.groupby('Devices_Used').size()
print(non_churned_devices)

Devices_Used
Mobile    277
PC        147
TV        157
Tablet    173
dtype: int64

In [135]:
sns.heatmap(churned_df.iloc[:, "Devices_Used":].corr(), annot=True)

TypeError: cannot do positional indexing on Index with these indexers [Devices_Used] of type str